body {
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-style: bold;
}

/* headings */
.catchPhrase {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 375%;
  font-weight: 900;
  size: 3.5rem;
  line-height: 1.5;
  padding-top: 7%;
  padding-bottom: 7%;
  color: white;
}

.featHeadings {
  font-weight: 700;
}

.testimonial-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.card-section-heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.card-heading {
  font-weight: 700;
  font-size: 1.5rem;
}

.price-text {
  font-size: 3rem;
  font-weight: 700;
}

.true-love {
  color: white;
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  padding-bottom: 6%;
}

/* IDs */
#title {
  padding-bottom: 2.5%;
  text-align: left;
}

#features {
  padding: 7rem 15rem;
  position: relative;
}

#testimonials {
  position: relative;
}

#press {
  padding-bottom: 3%;
  position: relative;
}

#pricing {
  padding: 100px;
  position: relative;
  background-color: #fff;
}

#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
}

#footer {
  background-color: #fff;
  margin: 5% auto;
}

/* sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

#testimonials.colored-section {
  background-color: #ef8172;
  color: #fff;
}

#press.colored-section {
  background-color: #ef8172;
}

.white-section {
  background-color: #fff;
}

.container-fluid {
  padding: 3% 15% 3% 15%;
  height: 40rem;
  margin-bottom: 1%;
}

.catchPhrase {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 375%;
  font-weight: 900;
  size: 3.5rem;
  line-height: 1.5;
  padding-top: 10%;
  padding-bottom: 5%;
  color: white;
}

.gpBtn {
  margin-left: 10px;
}

.dogSelfie {
  transform: rotate(25deg);
  padding-top: 10%;
  width: 60%;
  position: absolute;
  right: 30%;
}

.nav-link {
  padding-left: 2rem;
  font-size: 1.2rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: Ubuntu;
}

/* features section */
.featContainer {
  padding: 5%;
}

.faStack {
  color: #ef8172;
  padding-bottom: 5%;
}

.faStack:hover {
  color: #FF4C68;
}

.featDescript {
  color: #8f8f8f;
}

/* testimonial section */
.testimonialImg {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.pressLogo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 5%;
}

/* pricing and footer section */
.pricing-column {
  padding: 3% 2%;
}

.apple-bottom {
  position: relative;
  right: .625rem;
}

.google-bottom {
  position: relative;
  left: .625rem;
}

.copyright {
  color: #8f8f8f;
}

.icon {
  padding-left: .5%;
  padding-right: .5%;
}

/* Media Query */
@media (max-width: 1024px) {
  #title {
    text-align: center;
    margin-bottom: auto;
  }

  .dogSelfie {
    position: static;
    padding-top: 10%;
    width: 60%;
    right: 30%;
    transform: rotate(0deg);
  }

  .container-fluid {
    padding: 3% 15% 0% 15%;
    height: 40rem;
    margin-bottom: 37.5rem;
  }
}

@media (max-width: 1244px) {
  .catchPhrase {
    font-size: 275%;
  }
}
